<%- include("../partials/header")%>
<%- include("../partials/navbar")%>

<div class="container" style="margin-top: 5rem;">

  <%- include("../partials/flash")%>

  <h6 class="display-6">My Orders</h6>
  
    <div class="row">
        
            <%for(let order of orders){%>
                <div class="col-lg-12">
                    <div class="card" style="width: 80%;margin: 10px auto;">
                        <h5 class="card-header">
                            <p>Total : 	&#8377 <%=order.amount%></p>
                            <p class="fw-light fs-6">Transaction Id : <%=order.txnid%> </p>
                            <p class="fw-light fs-6">Order Date : <%=order.date.toDateString()%> </p>
                        </h5>
                        <div class="card-body">
                            <%for(let item of order.orderedProducts){%>
                                <!-- <div class="mb-2">
                                    <img style="width: 150px;" src="<%=item.img%>" class="card-img-top" alt="...">
                                </div>   -->
                                <div class="card mb-3" style="max-width: 540px;width: 90%;">
                                    <div class="row g-0">
                                      <div class="col-md-4">
                                        <img style="width: 150px;" src="<%=item.img%>" alt="...">
                                      </div>
                                      <div class="col-md-8">
                                        <div class="card-body">
                                          <h6 class="card-title"><%=item.name%></h6>
                                           <a href="/products/<%=item._id%>" class="btn btn-info btn-sm">Buy it again</a> 
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            <%}%>
                        </div>
                    </div> 
                </div>
            <%}%>
    </div>
     
</div>




<%- include("../partials/footer")%>
