<%- include("../partials/header")%>
<%- include("../partials/navbar")%>



<div class="container" style="margin-top:5rem;width:80vw;margin-bottom: 11rem;">
 
            <form class="validated-form" action="/products/<%=product._id%>?_method=PATCH" method="POST" style="max-width:70%;margin:10px auto" novalidate>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Product Name" name="product[name]" value="<%=product.name%>" required>
                 
                </div>
                <div class="mb-3">
                  <label for="img" class="form-label">Image URL</label>
                  <input type="text" class="form-control" id="img" placeholder="Image URL" name="product[img]" value="<%=product.img%>" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price in $</label>
                    <input type="number" class="form-control" id="price" placeholder="Price" name="product[price]" value="<%=product.price%>" required>
                </div>
        
                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea class="form-control" id="desc" cols="30" rows="5" name="product[desc]" required><%=product.desc%>"</textarea>
                </div>
               
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        
   
</div>

<%- include("../partials/footer")%>