
<%- include("../partials/header")%>
<%- include("../partials/navbar")%>


<main class="container" style="margin-top: 5rem;">
    
    <%- include("../partials/flash")%>

   
     <section id="heading"> 

      <h4 class="display-4"><i class="fab fa-shopify" style="margin-right: 20px;"></i>Shopping-Cart</h4>

    </section>
   
    <div class="row products">

        <%for(let product of products){%>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" >
                <img src="<%= product.img %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
                  <p class="card-text"><%= product.desc.substring(0,70) %></p>
                  <a href="/products/<%= product._id %>" class="btn btn-outline-primary">View Product</a>
                </div>
            </div>
          </div>
        <%}%>
     
    </div>




</div>
</main>

    
<%- include("../partials/footer")%>