<%- include("../partials/header")%>
<%- include("../partials/navbar")%>

<div class="container mt-5">

    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 25rem;">
                <img src="<%=product.img%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=product.name%></h5>
                  <h5 class="card-title">$ <%=product.price%></h5>
                  <p class="card-text"><%=product.desc%></p>
                  <a href="#" class="btn btn-success">Buy</a>
                  <a href="#" class="btn btn-secondary">Add To Cart</a>
                  <a href="/products/<%=product._id%>/edit" class="btn btn-warning">Edit</a>
                  <div class="mt-3">
                    <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                  </form>
                  </div>
                 
                </div>
              </div>
        </div>
        <div class="col-lg-6">
            <h1>Leave a Review</h1>
        </div>
    </div>

</div>


<%- include("../partials/footer")%>
