    <%- include("partials/header") %>

    <%- include("partials/navbar") %>

    <h1>This is Home Page <%= Math.floor(Math.random()*10)+1 %> </h1>

    <div class="card" style="width: 18rem;">
        <img src="<%=product.img%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%=product.name%></h5>
          <p class="card-text"><%=product.desc%></p>
          <h5 class="card-title"><%=product.price%></h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>




    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cum nemo, debitis fugit voluptates et optio tenetur corporis cumque eveniet, placeat qui ex modi recusandae dolor quam numquam ratione eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cum nemo, debitis fugit voluptates et optio tenetur corporis cumque eveniet, placeat qui ex modi recusandae dolor quam numquam ratione eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cum nemo, debitis fugit voluptates et optio tenetur corporis cumque eveniet, placeat qui ex modi recusandae dolor quam numquam ratione eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cum nemo, debitis fugit voluptates et optio tenetur corporis cumque eveniet, placeat qui ex modi recusandae dolor quam numquam ratione eligendi.</p>

    
    <%- include("partials/footer") %>
 