<%- include("../partials/header")%>
<%- include("../partials/navbar")%>

<div class="container mt-5">

    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 25rem;">
                <img src="<%=product.img%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=product.name%></h5>
                  <h5 class="card-title">$ <%=product.price%></h5>
                  <p class="card-text"><%=product.desc%></p>
                  <a href="#" class="btn btn-success">Buy</a>
                  <a href="#" class="btn btn-secondary">Add To Cart</a>
                  <a href="/products/<%=product._id%>/edit" class="btn btn-warning">Edit</a>
                  <div class="mt-3">
                    <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                  </form>
                  </div>
                 
                </div>
              </div>
        </div>
        <div class="col-lg-6">
            <h1>Leave a Review</h1>
            <form class="validated-form" action="/products/<%=product._id%>/review" method="POST" style="max-width:70%;" novalidate>
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" class="form-range" min="0" max="5" name="rating" id="rating">
                </div>
            
                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea class="form-control" id="desc" cols="35" rows="3" name="comment" required></textarea>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
               
                <button type="submit" class="btn btn-success">Submit</button>
              </form>

              <div class="mb-3 mt-3">
                <%for(let review of product.reviews){%>

                    <div class="card mb-3">
                        <div class="card-header">
                          User
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Rating :<%=review.rating%></h5>
                          <p class="card-text"><%=review.comment%></p>
                        </div>
                      </div>
    
                <%}%>
            </div>

        </div>

     

    </div>

</div>


<%- include("../partials/footer")%>
